:root {
    --bs-success-rgb: 19, 127, 24;
}

.no-wrap {
    flex-wrap: nowrap;
}

.cursor-pointer {
    cursor: pointer;
}

.form-control:focus {
    border-color: #198754;
    box-shadow: 0 0 0 0.25rem #099e59;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}

.icon-link > .bi {
    margin-top: 0.125rem;
    margin-left: 0.125rem;
    fill: currentcolor;
    transition: transform 0.25s ease-in-out;
}
.icon-link:hover > .bi {
    transform: translate(0.25rem);
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}

.text-shadow-1 {
    text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
.text-shadow-2 {
    text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-3 {
    text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}


.wrapper{
    min-height: calc(100vh - 59px);
}


/* Small devices (landscape phones, 576px and up) sm */
@media (min-width: 576px) {
    .border-bottom-sm-0 {
        border-bottom: 0 !important;
    }

    .fa-sm-normal {
        font: normal normal normal 14px/1 FontAwesome !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}